@model MovieEditViewModel

@{
    ViewData["Title"] = "Edit";
}


<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReleaseDate" class="control-label"></label>
                <input asp-for="ReleaseDate" class="form-control" />
                <span asp-validation-for="ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genre" class="control-label"></label>
                <input asp-for="Genre" class="form-control" />
                <span asp-validation-for="Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rating" class="control-label"></label>
                <input asp-for="Rating" class="form-control" />
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>
            <div class="form-group dir">
                <label asp-for="DirectorID" class="control-label"></label>
                <select class="form-control" asp-for="DirectorID" id="dir" asp-items="@ViewBag.Directors">
                </select>
            </div>
            <div class="form-group newdir">
                <label asp-for="NewDirector" class="control-label"></label>
                <input asp-for="NewDirector" class="form-control" id="newdir" />
                <span asp-validation-for="NewDirector" class="text-danger"></span>
            </div>
            <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                    New Director
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>

        $(document).ready(function () {
            $(".newdir").hide();
            $("#defaultCheck1").change( function() {
                if ($(this).is(':checked')) {
                    console.log('checked');
                    $(".newdir").show();
                    $(".dir").hide();
                    $("#dir").val(0);
                } else {
                    $(".newdir").hide();
                    $(".dir").show();
                    $("#newdir").val("");
                }
            })
        })
    </script>
}

